@-webkit-keyframes _idGenKeyFrames-0 {
0% { -webkit-transform:translate(307px,0px) ; opacity:0; }
4.3478% { -webkit-transform:translate(269px,0px) ; opacity:0.043; }
8.6957% { -webkit-transform:translate(234px,0px) ; opacity:0.087; }
13.0435% { -webkit-transform:translate(202px,0px) ; opacity:0.13; }
17.3913% { -webkit-transform:translate(173px,0px) ; opacity:0.174; }
21.7391% { -webkit-transform:translate(147px,0px) ; opacity:0.217; }
26.087% { -webkit-transform:translate(124px,0px) ; opacity:0.261; }
30.4348% { -webkit-transform:translate(103px,0px) ; opacity:0.304; }
34.7826% { -webkit-transform:translate(85px,0px) ; opacity:0.348; }
39.1304% { -webkit-transform:translate(69px,0px) ; opacity:0.391; }
43.4783% { -webkit-transform:translate(55px,0px) ; opacity:0.435; }
47.8261% { -webkit-transform:translate(44px,0px) ; opacity:0.478; }
52.1739% { -webkit-transform:translate(34px,0px) ; opacity:0.522; }
56.5217% { -webkit-transform:translate(25px,0px) ; opacity:0.565; }
60.8696% { -webkit-transform:translate(18px,0px) ; opacity:0.609; }
65.2174% { -webkit-transform:translate(13px,0px) ; opacity:0.652; }
69.5652% { -webkit-transform:translate(9px,0px) ; opacity:0.696; }
73.913% { -webkit-transform:translate(5px,0px) ; opacity:0.739; }
78.2609% { -webkit-transform:translate(3px,0px) ; opacity:0.783; }
82.6087% { -webkit-transform:translate(2px,0px) ; opacity:0.826; }
86.9565% { -webkit-transform:translate(1px,0px) ; opacity:0.87; }
91.3043% { -webkit-transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { -webkit-transform:translate(0px,0px) ; opacity:0.957; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { transform:translate(307px,0px) ; opacity:0; }
4.3478% { transform:translate(269px,0px) ; opacity:0.043; }
8.6957% { transform:translate(234px,0px) ; opacity:0.087; }
13.0435% { transform:translate(202px,0px) ; opacity:0.13; }
17.3913% { transform:translate(173px,0px) ; opacity:0.174; }
21.7391% { transform:translate(147px,0px) ; opacity:0.217; }
26.087% { transform:translate(124px,0px) ; opacity:0.261; }
30.4348% { transform:translate(103px,0px) ; opacity:0.304; }
34.7826% { transform:translate(85px,0px) ; opacity:0.348; }
39.1304% { transform:translate(69px,0px) ; opacity:0.391; }
43.4783% { transform:translate(55px,0px) ; opacity:0.435; }
47.8261% { transform:translate(44px,0px) ; opacity:0.478; }
52.1739% { transform:translate(34px,0px) ; opacity:0.522; }
56.5217% { transform:translate(25px,0px) ; opacity:0.565; }
60.8696% { transform:translate(18px,0px) ; opacity:0.609; }
65.2174% { transform:translate(13px,0px) ; opacity:0.652; }
69.5652% { transform:translate(9px,0px) ; opacity:0.696; }
73.913% { transform:translate(5px,0px) ; opacity:0.739; }
78.2609% { transform:translate(3px,0px) ; opacity:0.783; }
82.6087% { transform:translate(2px,0px) ; opacity:0.826; }
86.9565% { transform:translate(1px,0px) ; opacity:0.87; }
91.3043% { transform:translate(0px,0px) ; opacity:0.913; }
95.6522% { transform:translate(0px,0px) ; opacity:0.957; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
scroll-vert_showScroll {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:MachPro, sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:MachPro, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:MachPro, sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"MachPro-Black", sans-serif;
	font-size:2320px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"MachPro-Medi", sans-serif;
	font-size:640px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-6 {
	color:#000000;
	font-family:MachPro, sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1200.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:826.00px;
}
#_idContainer001 {
	-ms-transform:translate(248.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(248.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1200.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(248.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(248.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1094.00px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,556.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,556.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:644.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,556.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,556.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:257.28px;
}
#_idContainer003 {
	-ms-transform:translate(578.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(578.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1200.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(578.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(578.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1342.00px;
}
#_idContainer004, #_idContainer007, #_idContainer010, #_idContainer013, #_idContainer016, #_idContainer019, #_idContainer022 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer005, #_idContainer008, #_idContainer014, #_idContainer017 {
	-ms-transform:translate(0.000px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(0.000px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer006 {
	-ms-transform:translate(315.641px,120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(315.641px,120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:105.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.641px,120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(315.641px,120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer009 {
	-ms-transform:translate(312.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(312.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:105.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(312.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(312.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer011 {
	-ms-transform:translate(1.500px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(1.500px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.500px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.500px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer012 {
	-ms-transform:translate(156.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(156.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:105.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(156.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(156.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer015 {
	-ms-transform:translate(0.000px,362.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,362.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:105.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,362.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,362.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer018 {
	-ms-transform:translate(0.000px,241.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,241.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:105.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,241.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,241.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(0.000px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,78.205px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:130.00px;
}
#_idContainer021 {
	-ms-transform:translate(0.000px,120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:105.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer023 {
	-ms-transform:translate(0.000px,78.497px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(0.000px,78.497px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,78.497px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,78.497px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:130.00px;
}
#_idContainer024 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:105.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:131.00px;
}
#_idContainer025 {
	-ms-transform:translate(97.500px,556.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(97.500px,556.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:590.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(97.500px,556.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(97.500px,556.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:446.64px;
}
#_idContainer026 {
	-ms-transform:translate(14.000px,58.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.000px,58.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.000px,58.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.000px,58.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:64.00px;
}
#_idContainer027 {
	-ms-transform:translate(30.818px,11.999px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(30.818px,11.999px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(30.818px,11.999px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(30.818px,11.999px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.04px;
}
#_idContainer028 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.00px;
}
#_idContainer029 {
	-ms-transform:translate(25.000px,63.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.000px,63.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.000px,63.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(25.000px,63.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.00px;
}
#_idContainer030, #_idContainer047 {
	-ms-transform:translate(3.000px,115.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(3.000px,115.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:352.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.000px,115.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.000px,115.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:634.28px;
}
#_idContainer031, #_idContainer048 {
	-ms-transform:translate(0.000px,-15.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(0.000px,-15.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:137.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-15.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-15.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:634.28px;
}
#_idContainer032 {
	-ms-transform:translate(97.500px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(97.500px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:466.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(97.500px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(97.500px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:637.28px;
}
#_idContainer033 {
	-ms-transform:translate(597.750px,573.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(597.750px,573.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:447.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(597.750px,573.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(597.750px,573.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:238.25px;
}
#_idContainer034 {
	-ms-transform:translate(848.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(848.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:140.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(848.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(848.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:231.23px;
}
#_idContainer035 {
	-ms-transform:translate(1115.884px,38.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1115.884px,38.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:140.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1115.884px,38.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1115.884px,38.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:231.23px;
}
#_idContainer036 {
	-ms-transform:translate(1115.884px,199.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1115.884px,199.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:140.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1115.884px,199.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1115.884px,199.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:231.23px;
}
#_idContainer037 {
	-ms-transform:translate(6.500px,6.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.500px,6.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:140.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.500px,6.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.500px,6.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:231.23px;
}
#_idContainer038 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:153.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.23px;
}
#_idContainer039 {
	-ms-transform:translate(841.500px,192.988px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(841.500px,192.988px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:153.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(841.500px,192.988px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(841.500px,192.988px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.23px;
}
#_idContainer040 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:212.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:238.25px;
}
#_idContainer041 {
	-ms-transform:translate(250.052px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(250.052px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:259.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(250.052px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(250.052px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:235.06px;
}
#_idContainer042 {
	-ms-transform:translate(250.052px,274.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(250.052px,274.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:259.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(250.052px,274.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(250.052px,274.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:235.06px;
}
#_idContainer043 {
	-ms-transform:translate(507.718px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(507.718px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:259.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(507.718px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(507.718px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:235.06px;
}
#_idContainer044 {
	-ms-transform:translate(507.718px,274.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(507.718px,274.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:259.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(507.718px,274.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(507.718px,274.035px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:235.06px;
}
#_idContainer045 {
	-ms-transform:translate(862.000px,554.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(862.000px,554.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:533.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(862.000px,554.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(862.000px,554.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:742.78px;
}
#_idContainer046 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:297.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:660.00px;
}
#_idContainer049 {
	-ms-transform:translate(8.999px,16.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8.999px,16.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:466.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.999px,16.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(8.999px,16.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:637.28px;
}
#_idContainer050 {
	background-image:url(../image/20.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:297px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:660px;
}
#_idContainer051 {
	-ms-transform:translate(1240.000px,350.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1240.000px,350.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:297.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1240.000px,350.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1240.000px,350.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:660.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectAttribute-3 {
	height:297px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:660px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	-webkit-transform:translate(307px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(307px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-1 {
	-webkit-transform:translate(0px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:1;
	transform:translate(0px,0px) ;
	transform-origin:50% 50%;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenMSO {
   visibility:hidden;
}
div._idGenMSO div._idGenCurrentState, div._idGenMSO figure._idGenCurrentState {
   visibility:visible;
}
div._idGenMSO._idGenStateHide div._idGenCurrentState, div._idGenMSO._idGenStateHide figure._idGenCurrentState {
   visibility:hidden;
}
div._idGenStateHide div._idGenMSO div._idGenCurrentState, figure._idGenStateHide div._idGenMSO figure._idGenCurrentState {
   visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
